<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-2">Spoons</h1>
        <ul class="list-group" id="target-list">
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="display-2">Join a Game</h1>
        <ul class="list-group" id="new-games-list">
        </ul>
      </div>
    </div>
  </div>



</body>
</html>
