<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-2">Spoons</h1>
        <p>Spoons is a simple game where you are given a target to assasinate by tapping their wrist with a spoon. Upon doing so you recive their target. The game works in a giant circle until there is only one assassin left, the winner.</p>
        <p>This site is used as a moderator/host. Each player can join the game, and when it starts, everyone is given a target. You can leave at anytime by clicking the red "I got hit" button. At this time your targeet will be given to whoever had you.</p>
        <p>Inorder to organize the game, you will only see games in your area</p>
      </div>
    </div>
  </div>



</body>
</html>
