<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-2">Current Games</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="display-2">Begin List<%= user_id %></h1>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Target Name - Game name
            <span class="badge badge-primary badge-pill">Button Here</span>
          </li>

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="display-2">Join a Game</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="display-2">Past Games</h1>
      </div>
    </div>
  </div>

<script>
  function mainLoad(){
    $.get("/enroll/my?user_id=" + <%= user_id %>, function(data){
      var list = document.getElementById("target-list");
      for(var i = 0; i < data.length; i++){
        list.append('<li class="list-group-item d-flex justify-content-between align-items-center">' + item.name + ' - ' + item.title + ' <span class="badge badge-primary badge-pill">Button Here</span></li>');
      }
      })
    }

  mainLoad();


</script>

</body>
</html>
