<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-2">Current Games</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="display-2">Begin List<%= user_id %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="display-2">Join a Game</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="display-2">Past Games</h1>
      </div>
    </div>
  </div>

<script>
  function mainLoad(){
    $.get("/enroll/my?user_id=" + <%= user_id %>, function(data){
      console.log(data);
    })


  }

  mainLoad();


</script>

</body>
</html>
